<h2>Create new post</h2>
<form class="new-post">
  <div class="row">
    <div class="four columns">
      <input type="text" name="post[name]" id="post-name" placeholder="Your name" class="u-full-width">
    </div>
    <div class="four columns">
      <input type="text" name="user[email]" id="user-email" placeholder="Your user email" class="u-full-width">
    </div>
    <div class="four columns">
      <input type="text" name="user[password]" id="user-password" placeholder="Your user password" class="u-full-width">
    </div>
    <input type="submit" value='Save My User'>
  </div>

  <ul id="all-user-list">
  <% allUsers.forEach(function(post) { %>
    <li>
        <%= post.name %><br>
        <%= post.email %><br>
        <%= post.password %>
    </li>
  <% }) %>
  </ul>
</form>
